:root{

    --mainColor:#152020;
    --secondaryColor:#192734;

    --borderColor:#164056;

    --mainText:#fff;
    --secondaryText:#eeeeee;
    --buttonColor:#17a2b8;
    --themeDotBorder:#fff;
    --previewShadow:#111921;
    --previewBg: rgb(25, 39, 52, 0.8)


}